<div class="generic-component">
    <div class="row">
        <div class="col-12">
            <h3>Productos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    
                    <div class="row mb-4">
                        <div class="col-sm-8">
                            <hr>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-search fa-lg"></i> Filtros de Búsqueda
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Agregar" (click)="create()">
                                    <i class="fas fa-plus-square fa-lg"></i> Agregar
                                </button>
                            </div>
                        </div>
                    </div>                    

                    <div class="collapse mb-4" id="collapseExample">
                        <div class="card card-body">
                            <form [formGroup]="formFilter">
                                <div class="row">
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="search">Buscar</label>
                                        <input id="search" type="text" class="form-control" placeholder="" formControlName="search" (keyup)="get()">
                                    </div>
                                    
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="stateFilter">Estado</label>
                                        <select class="custom-select" id="stateFilter" formControlName="stateFilter" (change)="get()">
                                            <option value="1">ACTIVO</option>
                                            <option value="0">INACTIVO</option>
                                        </select>
                                    </div>                        
            
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="column">Columna</label>
                                        <select class="custom-select" id="column" formControlName="column" (change)="get()">
                                            <option value="businessname">NOMBRE</option>
                                            <option value="address">DIRECCIÓN</option>
                                            <option value="email">CORREO</option>
                                        </select>
                                    </div>
            
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="order">Orden</label>
                                        <select class="custom-select" id="order" formControlName="order" (change)="get()">
                                            <option value="ASC">ASCENDENTE</option>
                                            <option value="DESC">DESCENDENTE</option>
                                        </select>
                                    </div>            
                                    
                                </div>      
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
        <div class="col-12">
            <div class="row">

                <div class="col-12 col-sm-3" *ngFor="let item of list | async | paginate: { id: 'filters', itemsPerPage: 12, currentPage: pag, totalItems: total }; index as i">
                    <div class="card mb-3" [ngClass]="{ 'border-primary': item.state === 1, 'border-danger': item.state === 0 }">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img src="{{ (item.image != '' && item.image != null) ? urlBasic + '' + item.image : urlImageDefault }}" class="card-img" alt="...">
                            </div>
                            <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{item.itemname + '. ' + item.description}}</h5>
                                <p class="card-text text-truncate">{{item.nom_categoryitem.categoryitemname}}</p>
                                <p class="card-text">
                                    <i class="fas fa-info-circle fa-lg mr-2 cursor-pointer" (click)="info(item)"></i>
                                    <i class="fas fa-edit fa-lg mr-2 cursor-pointer" (click)="edit(item)"></i>
                                    <i class="fas fa-trash-alt fa-lg mr-2 cursor-pointer" (click)="confirmDelete(item)"></i>
                                    <i class="fas fa-file-invoice-dollar fa-lg cursor-pointer" (click)="listPrice(item)"></i>
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <pagination-controls class="text-center" autoHide="true" id='filters' [maxSize]="total" [directionLinks]="true" [responsive]="true" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" 
                [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                    [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="get($event)">
            </pagination-controls>
        </div>
    </div>
</div>

<app-notification [type]="typeNotification" [icon]="iconNotification" 
[title]="titleNotification" [message]="messageNotification"></app-notification>

<app-aside [isOpen]="asideIsOpen" [title]="titleAside" [headerOverlay]="false" [closeAside]="closeAside">

    <div *ngIf="formView" class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="{{ urlImageDefault }}" class="card-img" style="width: 75%;" alt="...">
        </div>
    </div>

    <form *ngIf="formView" [formGroup]="form">
        <div class="container mt-4">
            <div class="row">
                
                <div class="col-12 mb-2">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image" lang="es" (change)="handleFileInput($event.target.files, 'image')">
                            <label class="custom-file-label" for="image" aria-describedby="image">Choose file</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-2">

                    <div class="row">
                        <div class="col-12 col-sm-5">
                            <label for="itemname">Código<span class="required">*</span></label>
                            <input id="itemname" type="text" class="form-control" placeholder="" formControlName="itemname">
                        </div>
                        <div class="col-12 col-sm-7 pt-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="state" class="custom-control-input" formControlName="state">
                                <label class="custom-control-label" for="state">Estado (Activo/Inactivo)</label>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <div class="col-12 mb-2">
                    <label for="description">Item<span class="required">*</span></label>
                    <input id="description" type="text" class="form-control" placeholder="" formControlName="description">
                </div>

                <div class="col-12 mb-2">
                    <label for="id_category">Categoría<span class="required">*</span></label>
                    <select class="custom-select" formControlName="idcategoryitem">
                        <option *ngFor="let e of listCategory" [ngValue]="e.idcategoryitem">
                            {{e.categoryitemname}}
                        </option>
                    </select>
                </div>

                <div class="col-12 mb-2">

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <label for="idunittype">Tipo Unidad<span class="required">*</span></label>
                            <select class="custom-select" formControlName="idunittype">
                                <option *ngFor="let e of listUnitType" [ngValue]="e.idunittype">
                                    {{e.unittypename}}
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="price">Precio por defecto<span class="required">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">(USD) $</span>
                                </div>
                                <input id="price" type="text" class="form-control" placeholder="" formControlName="price">
                            </div>                            
                        </div>
                    </div>

                    
                </div>

                <div class="col-12">
                    <button class="btn btn-lg btn-primary btn-block" type="button"
                    (keydown.enter)="form.valid && action()" (click)="form.valid && action()"
                    [disabled]="!form.valid">Guardar</button>
                </div>
            </div>
        </div>        
    </form>

    <div *ngIf="formTableView" class="container">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 8%;">NO</th>
                        <th>PRECIO</th>
                        <th style="width: 5%;">
                            <button type="button" class="btn btn-primary" (click)="createPrice()">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </th>
                    </tr>
                    <tr>
                    <th colspan="3">{{ itemNameSelected }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listItemPrice; let i = index">  
                        <tr *ngIf="!item.deleted">
                            <td>{{i + 1}}</td>
                            <td class="text-left">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">(USD) $</span>
                                    </div>
                                    <input type="text" class="form-control" name="{{i}}price" [(ngModel)]="item.price" />
                                </div>
                            </td>
                            <td class="text-center">              
                                <button type="button" class="btn btn-danger" (click)="deletePrice(item, i)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>             
                            </td>
                        </tr>
                    </ng-container> 
                </tbody>
            </table>              
        </div>

        <div class="col-12">
            <div class="btn-group btn-block" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-lg btn-primary">Guardar</button>
                <button type="button" class="btn btn-lg btn-secondary" (click)="cancelConfirmActionListPrice()">Cancelar</button>
            </div>
            
        </div>
    </div>
    
</app-aside>
        

<div class="modal fade" id="confirmDeleteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro que desea eliminar el item seleccionado?</p>
            <p class="text-secondary font-weight-bold text-center">{{anything}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmCancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header bg-info text-white">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro que desea cancelar las acciones anteriormente realizadas en la lista de precios?</p>
            <p class="text-secondary font-weight-bold text-center">{{anything}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="cancelActionListPrice()">Aceptar</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="itemSelected !== null">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header bg-info">
            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-sm-4 image-user">
                    <i class="fas fa-user-tie fa-5x"></i>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{itemSelected.businessname}}</h4>
                        </div>
                        <div class="col-12">
                            {{itemSelected.identify}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-12 text-secondary font-weight-bold">
                    Dirección
                </div>
                <div class="col-12">
                    {{itemSelected.address}}
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Teléfono Principal
                        </div>
                        <div class="col-12">
                            {{itemSelected.phone}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Teléfono Secundario
                        </div>
                        <div class="col-12">
                            {{itemSelected.phone_2}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Email Principal
                        </div>
                        <div class="col-12">
                            {{itemSelected.email}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Email Secundario
                        </div>
                        <div class="col-12">
                            {{itemSelected.email_2}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Email Secundario
                        </div>
                        <div class="col-12">
                            {{itemSelected.email_2}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-12 text-secondary font-weight-bold">
                    Observación
                </div>
                <div class="col-12">
                    {{itemSelected.observation}}
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
            