<div class="warehouse-component">

    <ngx-ui-loader [loaderId]="'loading-component'" [fgsType]="typeSpinnerLoading" [overlayColor]="overlayColorLoading"
      [fgsColor]="colorAnimation" [pbColor]="colorAnimation"></ngx-ui-loader>

    <div class="row">
        <div class="col-12">
            <h3>Bodegas</h3>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 8%;">NO</th>
                        <th>BODEGA</th>

                        <th>DIRECCIÓN</th>
                        <th>TELÉFONO</th>
                        <th>CORREO</th>

                        <th style="width: 8%;">ESTADO</th>
                        <th style="width: 5%;">
                            <button type="button" class="btn btn-primary" (click)="create()">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list;  let i = index " [ngClass]= "{'text-danger':item.state == false}" >
                        <td>{{i + 1}}</td>
                        <td class="text-left"><i class="fas fa-warehouse fa-2x"></i> {{item.warehousename}}</td>
                        <td class="text-left">{{item.address}}</td>
                        <td class="text-left">{{item.phone}}</td>
                        <td class="text-left">{{item.email}}</td>
                        <td class="text-left">{{ ((item.state) ? 'ACTIVO' : 'INACTIVO' ) }}</td>
                        <td class="text-center">              
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu">              
                                    <a class="dropdown-item" (click)="edit(item)">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>              
                                    <div class="dropdown-divider"></div>             
                                    <a class="dropdown-item" (click)="confirmDelete(item)">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </a>        
                                </div>
                            </div>              
                        </td>
                    </tr>
                </tbody>
            </table>              
        </div>
    </div>
</div>

<app-notification [type]="typeNotification" [icon]="iconNotification" 
    [title]="titleNotification" [message]="messageNotification"></app-notification>

<app-aside [isOpen]="asideIsOpen" [title]="titleAside" [headerOverlay]="false" [closeAside]="closeAside">
    
    <form [formGroup]="form">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="warehousename">Bodega<span class="required">*</span></label>
                    <input id="warehousename" type="text" class="form-control" placeholder="" [ngClass]="{'is-invalid': error.warehousename.error}" autofocus 
                        formControlName="warehousename" (input)="validInput('warehousename')">
                        <div class="invalid-feedback" *ngIf="form.get('warehousename').errors?.required">
                            {{error.warehousename.msg}}
                        </div>
                </div>

                <div class="col-12 mb-2">
                    <label for="address">Dirección<span class="required">*</span></label>
                    <input id="address" type="text" class="form-control" placeholder="" [ngClass]="{'is-invalid': error.address.error}" 
                        formControlName="address" (input)="validInput('address')">
                        <div class="invalid-feedback" *ngIf="form.get('address').errors?.required">
                            {{error.address.msg}}
                        </div>
                </div>

                <div class="col-12 mb-2">
                    <label for="phone">Teléfono<span class="required">*</span></label>
                    <input id="phone" type="text" class="form-control" placeholder="" [ngClass]="{'is-invalid': error.phone.error}" 
                        formControlName="phone" (input)="validInput('phone')">
                        <div class="invalid-feedback" *ngIf="form.get('phone').errors?.required">
                            {{error.phone.msg}}
                        </div>
                </div>

                <div class="col-12 mb-2">
                    <label for="email">Email<span class="required">*</span></label>
                    <input id="email" type="text" class="form-control" placeholder="" [ngClass]="{'is-invalid': error.email.error}" formControlName="email" 
                        (input)="validInput('email')">
                        <div class="invalid-feedback" *ngIf="form.get('email').errors?.required || form.get('email').errors?.email">
                            {{error.email.msg}}
                        </div>
                </div>

                <div class="col-12 mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="state" formControlName="state">
                        <label class="custom-control-label" for="state">Estado (Activo/Inactivo)</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-lg btn-primary btn-block" type="button"
                    (keydown.enter)="form.valid && action()" (click)="form.valid && action()"
                    [disabled]="!form.valid">Guardar</button>
                </div>
            </div>
        </div>        
    </form>
   
</app-aside>

<div class="modal fade" id="confirmDeleteWarehouse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ¿Está seguro que desea eliminar la Bodega seleccionada?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
        </div>
    </div>
</div>
