<form [formGroup]="formCountry">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-2">
                <label for="namecountry">País</label>
                <input id="namecountry" type="text" class="form-control" placeholder="" autofocus formControlName="namecountry">
            </div>
            <div class="col-12 mb-2">
                <label for="code">Código</label>
                <input id="code" type="text" class="form-control" placeholder="" formControlName="code">
            </div>
            <div class="col-12">
                <button class="btn btn-lg btn-primary btn-block" type="button"
                (keydown.enter)="formCountry.valid && add()" (click)="formCountry.valid && add()"
                [disabled]="!formCountry.valid">Guardar</button>
            </div>
        </div>
    </div>        
</form>