$width-aside: 400px;
.aside-component{
  position: fixed;
  width: $width-aside;
  top: 55px;
  border-left: 1px solid #000;
  right: -$width-aside;
  background: #ffffff;
  z-index: 499;
  height: 100%;
  transition: all 0.6s;
  &.active{
    transition: all 0.6s;
    right: 0;
    overflow: auto;
    &.large{
      width: 700px;
      right: 0px;
    }
  }
  .header{
    position: relative;
    .image-close{
      transition: all 0.6s;
      position: fixed;
      top: 80px !important;
      right: -$width-aside;
      &.active{
        transition: all 0.6s;
        right: 30px;
      }
    }
    &.overlay{
      position: fixed;
      background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.5));
      z-index: 499;
      width: 100%;
      .image-close{
        top: 28px
      }
    }
    
    .title {
        font-size: 24px;
        font-weight: bold;
        padding: 15px;
    }
  }
  
}