<div class="row">
  <div class="col-sm-6 d-none d-sm-block publicity">
    <div class="logo">
        <img src="../assets/image/LogoEncomaq-color.png" style="width: 50%;">
    </div>
      
  </div>
  <div class="col-sm-6">
    <div>
        <router-outlet></router-outlet>
    </div>
    <!--<div class="container footer">
        <div class="position-absolute fixed-bottom d-flex flex-row justify-content-between">
          
            <div style="color: #9C182F !important;">
                Copyright &copy; 2012 - {{year}} Todos los derechos reservados
            </div>
    
            <div>
                <a href="https://www.imnegocios.com" target="_blank">
                  <img src="../assets/image/Poweredby.svg" style="width: 25%;">
                </a>
            </div>
    
            <div class="d-flex flex-row">    
                <div style="width: 8%;">
                    <a href="https://www.youtube.com/channel/UCoTcPz_2c84giRLaadjsnnA" target="_blank">
                      <img src="../assets/image/yt.svg" style="width: 100%;">
                    </a>
                </div>
                <div style="width: 8%;">
                    <a href="https://www.instagram.com/imnegocios/" target="_blank">
                      <img src="../assets/image/instagram.svg" style="width: 100%;">
                    </a>
                </div>
                <div style="width: 8%;">
                    <a href="https://www.linkedin.com/in/im-negocios-544797162/" target="_blank">
                      <img src="../assets/image/Linkedin.svg" style="width: 100%;">
                    </a>
                </div>
                <div style="width: 8%;">
                    <a href="https://twitter.com/IMnegocios" target="_blank">
                      <img src="../assets/image/twitter.svg" style="width: 100%;">
                    </a>
                </div>
                <div style="width: 8%;">
                    <a href="https://www.facebook.com/IMnegocios/" target="_blank">
                      <img src="../assets/image/fb.svg" style="width: 100%;">
                    </a>
                </div>
            </div>

        </div>
    </div> -->
    
  </div>
</div>
