
.publicity {
    background: url("./../../../../assets/image/auth.jpeg") no-repeat center center;        
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 0;
    position: relative;

    .image-auth-gradient {
        background: linear-gradient(to bottom, #3023ff, rgba(28, 21, 153, 0.3));
        mix-blend-mode: multiply;
        height: 100%;
        width: 100%;
        z-index: 10;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        z-index: 100;
        position: absolute;
    }

    .logo img {
        position: absolute;
    }
}

.footer {
    font-size: 12px;
    width: 100%;
    
    /*padding: 0 5px 0 5px;*/

    .item-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
    }
}

