<div class="generic-component">
    <div class="row">
        <div class="col-12">
            <h3>Contratos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    
                    <div class="row mb-4">
                        <div class="col-sm-8">
                            <hr>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-search fa-lg"></i> Filtros de Búsqueda
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Agregar" (click)="create()">
                                    <i class="fas fa-plus-square fa-lg"></i> Agregar
                                </button>
                            </div>
                        </div>
                    </div>                    

                    <div class="collapse mb-4" id="collapseExample">
                        <div class="card card-body">
                            <form [formGroup]="formFilter">
                                <div class="row">
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="search">Buscar</label>
                                        <input id="search" type="text" class="form-control" placeholder="" formControlName="search" (keyup)="get(1)">
                                    </div>
                                    
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="stateFilter">Estado</label>
                                        <select class="custom-select" id="stateFilter" formControlName="stateFilter" (change)="get(1)">
                                            <option value="1">ACTIVO</option>
                                            <option value="0">INACTIVO</option>
                                            <option value="2">CADUCADO</option>
                                        </select>
                                    </div>                        
            
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="column">Columna</label>
                                        <select class="custom-select" id="column" formControlName="column" (change)="get(1)">
                                            <option value="biz_contract.nocontract"># CONTRATO</option>
                                            <option value="biz_client.businessname">CLIENTE</option>
                                        </select>
                                    </div>
            
                                    <div class="col-sm-3 col-12 mb-2">
                                        <label for="order">Orden</label>
                                        <select class="custom-select" id="order" formControlName="order" (change)="get(1)">
                                            <option value="ASC">ASCENDENTE</option>
                                            <option value="DESC">DESCENDENTE</option>
                                        </select>
                                    </div>            
                                    
                                </div>      
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
        <div class="col-12 table-responsive">
            
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>NO</th>
                        <th>CLIENTE</th>
                        <th style="width: 10%;">CONTRATO</th>
                        <th>RETIRADA</th>
                        <th>ENTREGADA</th>
                        <th>TIPO</th>
                        <th>DIRECCION</th>
                        <th>F</th>
                        <th>VALOR</th>
                        <th>NO. FACT/RECIBO</th>
                        <th style="width: 8%;">ESTADO</th>
                        <th style="width: 5%;">
                            <button type="button" class="btn btn-primary" (click)="create()">
                                <i class="fas fa-plus-square"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list | async | paginate: { id: 'filters', itemsPerPage: 5, currentPage: pag, totalItems: total }; index as i">
                        <td><span *ngIf="!pageDelta">{{ i + 1 }}</span><span *ngIf="pageDelta">{{ i + pageDelta + 1 }}</span></td>
                        <td class="text-left cursor-pointer">
                            <div class="row text-truncate">
                                <div class="col-2 text-primary" [ngClass]="{ 'text-primary': item.state === 1, 'text-danger': item.state === 0 }">
                                    <i class="fas fa-user-tie fa-3x"></i>
                                </div>
                                <div class="col-10">
                                    <span class="font-weight-bold">{{item.biz_client.businessname}}</span> <br>
                                    <span class="small" [ngClass]="{ 'text-secondary': item.state === 1, 'text-danger': item.state === 0 }">
                                        {{item.biz_client.identify}}
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-truncate"><span class="font-weight-bold">NO.:</span> {{item.nocontract}}</td>
                        <td>{{item.startdate}}</td>
                        <td>{{item.enddate}}</td>
                        <td class="text-left">{{item.nom_categoryitem.categoryitemname}}</td>
                        <td class="text-left">{{item.address}}</td>
                        <td class="text-center">
                            <span *ngIf="item.invoice != '' && item.invoice != null">
                                F
                            </span>
                        </td>
                        <td>{{item.cost | currency: 'USD'}}</td>
                        <td>
                            <span class="font-weight-bold">FACTURA:</span> {{item.invoice}} <br>
                            <span class="font-weight-bold">RECIBO:</span> {{item.receipt}}
                        </td>
                        <td class="text-left">
                            <span *ngIf="calculateDay(item.enddate) == false">
                                <span *ngIf="item.state == 1">ACTIVO</span>
                                <span *ngIf="item.state == 0">ANULADO</span>
                            </span>
                            <span *ngIf="calculateDay(item.enddate) == true">CADUCADO</span>
                        </td>
                        <td class="text-center">              
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu">              
                                    <a class="dropdown-item" (click)="edit(item)">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>              
                                    <div class="dropdown-divider"></div>             
                                    <a class="dropdown-item" (click)="confirmDelete(item)">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </a>        
                                </div>
                            </div>              
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="text-center" autoHide="true" id='filters' [maxSize]="total" [directionLinks]="true" [responsive]="true" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" 
                [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                    [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="get($event)">
            </pagination-controls>
    
        </div>
    </div>
</div>

<app-notification [type]="typeNotification" [icon]="iconNotification" 
[title]="titleNotification" [message]="messageNotification"></app-notification>

<app-aside [isOpen]="asideIsOpen" [title]="titleAside" [headerOverlay]="false" [closeAside]="closeAside" [large]="true">

    <form [formGroup]="form">
        <div class="container mt-4">
            <div class="row">

                <div class="col-12">
                    <span class="font-weight-bold">ARRENDATARIO</span>
                    <hr>
                </div>

                <div class="col-12 mb-2">
                    <label for="ididentifytype">Cliente</label>
                    <select class="custom-select" formControlName="idclient">
                        <option *ngFor="let e of listClient" [ngValue]="e.idclient">
                            {{e.businessname}}
                        </option>
                    </select>
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="nocontract">No. Contrato</label>
                    <input id="nocontract" type="text" class="form-control" placeholder="" formControlName="nocontract">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="startdate">Fecha Inicio</label>
                    <input id="startdate" type="text" class="form-control" placeholder="" formControlName="startdate">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="enddate">Fecha Fin</label>
                    <input id="enddate" type="text" class="form-control" placeholder="" formControlName="enddate">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="idperiod">Periodo</label>
                    <select class="custom-select" formControlName="idperiod">
                        <option *ngFor="let e of listPeriod" [ngValue]="e.idperiod">
                            {{e.periodname}}
                        </option>
                    </select>
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="period">Cantidad (Periodo)</label>
                    <input id="period" type="text" class="form-control" placeholder="" formControlName="period">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="area">Área (m<sup>2</sup>)</label>
                    <input id="area" type="text" class="form-control" placeholder="" formControlName="area">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="cost">Costo de Alquiler</label>
                    <input id="cost" type="text" class="form-control" placeholder="" formControlName="cost">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="receipt">No. Recibo</label>
                    <input id="receipt" type="text" class="form-control" placeholder="" formControlName="receipt">
                </div>

                <div class="col-sm-4 col-12 mb-2">
                    <label for="invoice">No. Factura</label>
                    <input id="invoice" type="text" class="form-control" placeholder="" formControlName="invoice">
                </div>

                <div class="col-12 mb-2">
                    <label>Garantía Entregada</label>
                </div>

                <div class="col-sm-4 col-12 mb-2" formArrayName="paymentform" *ngFor="let element of form.controls.paymentform?.value; let ii = index">
                    <ng-container [formGroupName]="ii">
                        <label for="invoice">{{ element.paymentformname }}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text"> (USD) $</span>
                            </div>
                            <input type="text" class="form-control" formControlName="value" />
                        </div>
                    </ng-container>
                </div>

                <div class="col-12 mb-2">
                    <label for="place">Observaciones</label>
                    <textarea cols="100" rows="3"  class="form-control" id="observation" formControlName="observation"></textarea>
                </div>

                <div class="col-12 mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="state" class="custom-control-input" formControlName="state">
                        <label class="custom-control-label" for="state">Estado (Activo/Inactivo)</label>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <span class="font-weight-bold">LISTA DE PRODUCTOS</span>
                    <hr>
                </div>

                <div class="col-12 mb-2">
                    <label for="idcategoryitem">Categoría Item</label>
                    <select class="custom-select" formControlName="idcategoryitem">
                        <option *ngFor="let e of listCategoryItem" [ngValue]="e.idcategoryitem">
                            {{e.categoryitemname}}
                        </option>
                    </select>
                </div>

                <div class="col-12 table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>No.</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr formArrayName="items" *ngFor="let element of form.controls.items?.value; let ii = index">
                                <ng-container [formGroupName]="ii">
                                    <td>{{ ii + 1 }}</td>
                                    <td>
                                        <select class="custom-select" formControlName="iditem">
                                            <option *ngFor="let e of listItem" [ngValue]="e.iditem">
                                                {{e.itemname}}
                                            </option>
                                        </select>                                    
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="" formControlName="count">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="" formControlName="observation">
                                    </td> 
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 mb-5">
                    <button class="btn btn-lg btn-primary btn-block" type="button"
                    (keydown.enter)="form.valid && action()" (click)="form.valid && action()"
                    [disabled]="!form.valid">Guardar</button>
                </div>
            </div>
        </div>        
    </form>
    
</app-aside>
        

<div class="modal fade" id="confirmDeleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro que desea eliminar el proyecto seleccionado?</p>
            <p class="text-secondary font-weight-bold text-center">{{anything}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="itemSelected !== null">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header bg-info">
            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-sm-4 image-user">
                    <i class="fas fa-user-tie fa-5x"></i>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{itemSelected.businessname}}</h4>
                        </div>
                        <div class="col-12">
                            {{itemSelected.identify}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-12 text-secondary font-weight-bold">
                    Dirección
                </div>
                <div class="col-12">
                    {{itemSelected.address}}
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Teléfono Principal
                        </div>
                        <div class="col-12">
                            {{itemSelected.phone}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Teléfono Secundario
                        </div>
                        <div class="col-12">
                            {{itemSelected.phone_2}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Email Principal
                        </div>
                        <div class="col-12">
                            {{itemSelected.email}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Email Secundario
                        </div>
                        <div class="col-12">
                            {{itemSelected.email_2}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-12 text-secondary font-weight-bold">
                            Email Secundario
                        </div>
                        <div class="col-12">
                            {{itemSelected.email_2}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-12 text-secondary font-weight-bold">
                    Observación
                </div>
                <div class="col-12">
                    {{itemSelected.observation}}
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>