.notification-modal{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 414px;
    min-height: 108px;
    z-index: 99999;
    box-shadow: 0 8px 16px 0 #6c757d;
    border: solid 1px #6c757d;
    border-radius: 8px;
    .image-close{
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &.success{
        background-color: var(--success);
        color: #FFF;
    }
    &.warning{
        background-color: var(--warning);
    }
    &.danger{
        background-color: var(--danger);
        color: #FFF;
    }
    &.primary{
        background-color: var(--primary);
        color: #FFF;
    }
    .body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        padding: 10px;
        
        .message {
            padding-left: 10px;
        }
    }
}