<div class="container text-center d-none">
    <img src="assets/image/en-construccion.png" alt="">
</div>

<div class="generic-component">
    <div class="row">
        <div class="col-12">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cantidad de Clientes</h5>
              <p class="card-text text-center value-card">{{ countClients }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cantidad de Contratos</h5>
              <p class="card-text text-center value-card">{{ countContract }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Cantidad de Guías</h5>
                <p class="card-text text-center value-card">{{ countGuide }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Cantidad de Liquidaciones</h5>
                <p class="card-text text-center value-card">{{ countLiquidation }}</p>
              </div>
            </div>
          </div>
      </div>
</div>

<app-notification [type]="typeNotification" [icon]="iconNotification" 
[title]="titleNotification" [message]="messageNotification"></app-notification>